.bg-primary-custom {
    background-color: #025159;
  }
  .bg-secondary-custom {
    background-color: #3F858C;
  }
  .bg-light-custom {
    background-color: #C4EEF2;
  }
  .text-primary-custom {
    color: #025159;
  }
  .text-secondary-custom {
    color: #3F858C;
  }
  .btn-primary-custom {
    background-color: #A67458;
    border-color: #A67458;
  }
  .btn-primary-custom:hover {
    background-color: #7AB8BF;
    border-color: #7AB8BF;
  }
  .bg-primary-custom {
    background-color: #025159;
  }
  .bg-secondary-custom {
    background-color: #3F858C;
  }
  .bg-light-custom {
    background-color: #C4EEF2;
  }
  .text-primary-custom {
    color: #025159;
  }
  .text-secondary-custom {
    color: #3F858C;
  }
  .btn-primary-custom {
    background-color: #A67458;
    border-color: #A67458;
  }
  .btn-primary-custom:hover {
    background-color: #7AB8BF;
    border-color: #7AB8BF;
  }